{% extends 'FC_APP/fcBase.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/fcReservas_detalhes.css' %}">

<!-- Biblioteca SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div class="container reservas-container">
    <h3>Reservas:</h3>
    <ul class="reservas-lista">
        {% for reserva in reservas %}
            <li class="reserva-item">
                <div class="utilizador-info">
                    <strong>{{ reserva.utilizador.username }}</strong> 
                    {% if reserva.confirmado == True %}
                        <span class="status-text presente-text">- Presente</span>
                    {% elif reserva.confirmado == False %}
                        <span class="status-text ausente-text">- Ausente</span>
                    {% else %}
                        <span class="status-text pendente-text">- Pendente</span>
                    {% endif %}
                </div>
            </li>
        {% empty %}
            <li>Não há reservas para este treino.</li>
        {% endfor %}
    </ul>

    <h3>Lista de Espera:</h3>
    <ul class="lista-espera">
        {% for espera in lista_espera %}
            <li class="espera-item">
                <div class="utilizador-info">
                    <strong>{{ espera.utilizador.username }}:</strong> A aguardar!
                </div>

                {% if espera.utilizador == request.user %}
                    <button class="btn-sair-lista-espera" onclick="confirmarCancelamento('{{ treino.id }}')">
                        Sair da Lista de Espera
                    </button>
                {% endif %}
            </li>
        {% empty %}
            <li>Não há utilizadores na lista de espera.</li>
        {% endfor %}
    </ul>

    <div class="voltar">
        {% if request.user.is_staff %}
            <a href="{% url 'adicionar_utilizador_treino' treino.id %}" class="adicionar-utilizador-btn">Adicionar Utilizador</a>
        {% endif %}
        <a href="{% url 'calendario' %}" class="voltar-btn">Voltar</a>
    </div>
</div>

<!-- Script para o popup -->
<script>
function confirmarCancelamento(treinoId) {
    Swal.fire({
        title: "Tem certeza?",
        text: "Deseja sair da lista de espera?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#d33",
        cancelButtonColor: "#3085d6",
        confirmButtonText: "Sim, sair!",
        cancelButtonText: "Cancelar"
    }).then((result) => {
        if (result.isConfirmed) {
            window.location.href = `/sairlistaespera/${treinoId}/`;
        }
    });
}
</script>

{% endblock %}
