{% extends 'FC_APP/fcBase.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/fcMembros.css' %}">

<h1>Membros</h1>

<div class="barra">
    <input type="text" id="searchInput" onkeyup="searchTable()" placeholder="Procurar membro..." class="search-box">
</div>


<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            {% if request.user.is_staff %}
                <th scope="col">Email</th>
                <th scope="col">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for utilizador in page_obj %}
        <tr>
            <th>{{ utilizador.id }}</th>
            <td>{{ utilizador.username }}</td>
            {% if request.user.is_staff %}
                <td>{{ utilizador.email}}</td>
                <td><a href="{% url 'detalhe_utilizador' utilizador.id %}">Ver mais</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?page=1">« Primeira</a>
        <a href="?page={{ page_obj.previous_page_number }}">‹ Anterior</a>
        <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
    {% endif %}

    

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Próxima ›</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Última »</a>
    {% endif %}
</div>

{% if request.user.is_staff %}
    <div class="informacoes-totais-container">
        <a href="{% url 'exportar_excel' %}" class="btn-informacoes-totais">Descarregar Informações Totais</a>
    </div>
{% endif %}

<script>
    function searchTable() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        table = document.querySelector(".table");
        tr = table.getElementsByTagName("tr");
    
        for (i = 1; i < tr.length; i++) { // Começa em 1 para ignorar o cabeçalho
            td = tr[i].getElementsByTagName("td")[0]; // Coluna do nome
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    </script>

{% endblock %}
