{% extends 'FC_APP/fcBase.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/fcMembros.css' %}">

<h1>Membros</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            {% if request.user.is_staff %}
                <th scope="col">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for utilizador in page_obj %}
        <tr>
            <th>{{ utilizador.id }}</th>
            <td>{{ utilizador.username }}</td>
            <td>{{ utilizador.email}}</td>
            {% if request.user.is_staff %}
                <td><a href="{% url 'detalhe_utilizador' utilizador.id %}">Ver mais</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?page=1">« Primeira</a>
        <a href="?page={{ page_obj.previous_page_number }}">‹ Anterior</a>
    {% endif %}

    

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Próxima ›</a>
        <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
        <a href="?page={{ page_obj.paginator.num_pages }}">Última »</a>
    {% endif %}
</div>

{% if request.user.is_staff %}
    <div class="informacoes-totais-container">
        <a href="{% url 'exportar_excel' %}" class="btn-informacoes-totais">Descarregar Informações Totais</a>
    </div>
{% endif %}


{% endblock %}
